<<<<<<< HEAD
*{list-style: none;font-family: "Microsoft Yahei";margin:0;padding: 0;border:0;}
.acb:after{content: "";display: block;height:0;clear:both;}
.acb .fl{float: left;}
.acb .fr{float: right;}
.bigfont{font-size: 24px;margin-left:50px;}
.smallfont{font-size: 12px;}
#chinaMap{width:80%;margin:0 auto;height:600px;background: wheat;}
=======
/*预设--*/
*{list-style: none;font-family: "Microsoft Yahei";margin:0;padding: 0;border:0;}
.acb:after{content: "";height:0;display: block;clear:both;}
.acb .fl{float: left;}
.acb .fr{float: right;}
.bigfont{margin-left:50px;font-size: 24px;}
/*--预设*/
#china-map{width:80%;height:600px;margin:0 auto;background: wheat;}
>>>>>>> youhua
